[package]
name = "beehive"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
askama = "0.11"
axum = { version = "0.5", features = ["multipart"] }
base64 = "0.13"
bytes = "1.2.1"
clap = { version = "3.2.15", features = ["derive"] }
chrono = "0.4"
tokio = { version = "1", features = ["full"] }
tower = "0.4.13"
tower-http = { version = "0.3.0", features = ["fs", "trace"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }